@model IEnumerable<AthenaBookstore.Models.Book>

@{
    ViewData["Title"] = "ViewBooks";
}

<div class="py-4 px-3 bg-primary text-white rounded mt-2">
    <h1>Welcome to Athena Bookstore</h1>
    <h2 class="font-weight-light">Checkout our selection of books</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            @*I thought it looked cleaner to put the whole author name in here, not seperate it out, though it is on the database*@
            <th>
                Author
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
@*
    Wanted to try out how to combine all of these, especially since the middle name might not exist. 
    This part will concatenate all of the strings, the middle name will either return a space or the name of the author 
    surrounded by spaces
*@
                @(item.AuthorFirstName + (item.AuthorMiddleName == "" ? " " : $" {item.AuthorMiddleName} ") + item.AuthorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @($"${item.Price}")
            </td>
        </tr>
}
    </tbody>
</table>
