@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<div class="card mb-4">
    <div class="card-body">
        <h3 class="card-title">@Model.Title</h3>
        <h4 class="card-subtitle mb-2 text-muted">@(Model.AuthorFirstName + (Model.AuthorMiddleName == "" ? " " : $" {Model.AuthorMiddleName} ") + Model.AuthorLastName)</h4>
        <h5 class="mb-3">$@Model.Price</h5>
        <h6>Details</h6>
        <p class="mb-1">Published by @Model.Publisher</p>
        <p class="mb-1">Classification: @Model.Classification</p>
        <p class="mb-1">Category: @Model.Category</p>
        <p class="mb-0">ISBN: @Model.ISBN</p>
        <form id="@Model.BookId" asp-page="/Cart" method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <span class="card-text">
                <button type="submit" class="btn btn-success btn-sm mt-2">Add to Cart</button>
            </span>
        </form>
    </div>
</div>